div.card {
    border: 1px magenta;
    border-style: dotted dashed solid double;
    width: 200px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.photo {
    width: 130px;
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
}

h1 {
    text-align: center;
    size: 80%;
}

#piwkojd {
    font-family: fantasy;
    letter-spacing: 5px;
    text-decoration: green wavy underline;
}

h2 {
    text-align: center;
    size: 80%;
}

body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
}

#piwkojd {
    text-align: center;
    size: 50px;
    letter-spacing: 2px;
    margin-bottom: 100px;
    margin: 0;
}

header {
    height: 100px;
    width: 100%;
    padding: 0;
}